h1 {
    color: #51c4d3;
    font-size: 4rem;
    font-family: Rock Salt, handwriting;
    line-height: 2;
    margin: 50 auto 0 auto;
}

h2 {
    color: #51c4d3;
    font-size: 2.5rem;
    font-weight: normal;

}

h3 {
    color:#126e82;
}

hr {
    border-color: #EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 5%;
}
a {
    color:#132c33;
}

body {
    background-color: #d8e3e7;
    color: #132c33;
    margin_top :0px;
    text-align: center;
    font-family: Source Code Pro, monospace;
}

div {
    display: inline-block;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #d8e3e7;
    margin:0px;
}
.middle-container {


}
.contact-me {
    padding-bottom:30px;

}

.bottom-container {
    background-color:#126e82;
    color: #d8e3e7;
    width: 100%;
}

.skill-row {
    line-height:2;
    margin: 100px, auto, 100px, auto;
    text-align: left;
    width:50%;
}

.pro {
    font-weight: bold;
    text-decoration: underline;
}

.skills-image {
    float:left;
    width: 25%;
    padding: 30px;
}


.skills-image2 {
    float:right;
    width: 25%;
    padding: 30px;
}

.top_cloud {
    position:absolute;
    top:65px;
    left:60%;
}

.bottom_cloud {
    position: absolute;
}

.circular {
    border-radius: 100%;
}

.btn {
   background: #132C33;
   background-image: -webkit-linear-gradient(top, #132C33, #126E82);
   background-image: -moz-linear-gradient(top, #132C33, #126E82);
   background-image: -ms-linear-gradient(top, #132C33, #126E82);
   background-image: -o-linear-gradient(top, #132C33, #126E82);
   background-image: -webkit-gradient(to bottom, #132C33, #126E82);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #D8E3E7;
   font-family: Arial;
   font-size: 16px;
   font-weight: 100;
   padding: 10px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #126E82);
   background-image: -moz-linear-gradient(top, #3D94F6, #126E82);
   background-image: -ms-linear-gradient(top, #3D94F6, #126E82);
   background-image: -o-linear-gradient(top, #3D94F6, #126E82);
   background-image: -webkit-gradient(to bottom, #3D94F6, #126E82);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}